#pageWrapper, input {
    max-width: 1500px;
    margin: auto;
    font-family: 'Open Sans Condensed', serif ;
    color: #303030;
    font-size: 30px;
}

.uploadFileForm {
    background-color: #cccccc ;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    width: auto;
}

.block {
    min-width: 400px;
    min-height: 100px;
    padding: 5px;
    width: 100%;
    display: inline-block;
    float: left;
    margin: 10px;
}

.block:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.files {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    max-width: 550px;
}

.file {
    height: 50px;
    display: block;
}

.file > a, .file > .fileName {
    display: inline-block;
}

.button {
    color: #fff;
    background-color: #e84c34;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.file > .button {
    float: right;
    margin-right: 20px;
}

@media (min-width: 1300px){

    .block {
        width: 30%;
    }

}